@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');


@import "tailwindcss";



/* Assign Montserrat to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Assign Atkinson Hyperlegible to all paragraphs and body text */
p, span, li, a {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
